.Navbar{
    display: flex;
    justify-content: space-between;  
}
.Navbar > a {
    margin: 1em; 
}
#dark > .Navbar > a {
    color: white
}
.Navbar > button {
    margin: 1em;
    border: none;  
    border-radius: 20px; 
    height: 2em
}
.Navbar > a > img {
    height: 3em
}