#dark{
  margin-top: -35px;
  background: black; 
  height: 140vh;  
  width: 100vw;
  color: white;
}  
#dark .coins {
  color: aqua
}
.Prices_cap{ 
text-align: center;
}
#light {
  margin-top: -35px;
  background: #8892ff; 
  height: 140vh; 
  width: 100vw;
  color: black
}

.searchBox{
  display: flex; 
  justify-content: center; 
  margin-bottom: 20px; 
}
.searchInput {
  width: 40%;
  height: 30px; 
  border: none; 
  border-radius: 5px; 
  padding-left: 20px;
}


#light .coins {
  color: ghostwhite
} 


#dark .number_1 {
  color: white;
  margin-left: 25px;
} 

.numberOneImage {
  height: 20px; 
  margin-left:4px;
}

.tokenImage {
  height: 20px
}



#light .number_1{
    color: black;
    margin-left: 25px;

}
.header_container {
  display: flex;
  justify-content: space-between;  
  align-items: center;
}
 
.brand {
  height: 50px; 
  margin-left: 30px;  
  border: 1px dotted white;
  padding: 8px;
  margin-top: 30px;
}

#light .mkt_cap {
  color: darkred
}
#dark .mkt_cap {
  color: darkgoldenrod
}



.switch{
  margin-right:50px; 
  margin-top: 30px;
}

.header_top {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 35px; 
  border-bottom:  1px solid;   
  padding: 10px
}

.each_coin {
  display: flex;  
  justify-content: center; 
  align-items: center;
 margin-left: 20px; 
 padding: 12px; 
 border-bottom: 1px solid;
}

@media(min-width: 360px) {  

  .current_price {
    display: none
  }
  .each_coin { 
    display: flex;  
    justify-content: center; 
    align-items: center;
   margin-left: 20px; 
   padding: 12px; 
   border-bottom: 1px solid;
  }

  
  .market_cap{
    margin-left: 40px;
  }

  .coinName{ 
   position: absolute;
    margin-right: 80%;
    font-size: 12px;
  }

  .coinImage {
    height: 24px; 
  }
  .totalVolume{
    display: none;
  }
}

@media(min-width: 950px) {  
 
  .market_cap {
    position: absolute;
    left: 540px
  }
  .totalVolume { 
    display: inline; 
    position: absolute;
   margin-left: 900px;
  }
 
  .each_coin {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 15px; 
  }
  .coinName {
   position: absolute;
   left: 200px
  }

  .current_price {
    display: inline; 
    margin-right: 600px;
  }  

}

@media (min-width:820px){
.market_cap {
  margin-left: 200px;
}
.current_price {
  margin-left: 260px;
}
}